# NetCDF / model data
*.nc
*.grib
*.zarr

# Figures (optional)
figures/
.pdf
.png
.jpeg
.jpg
.JPG
.JPEG
.ps
.eps

# Jupyter
.ipynb_checkpoints/

# Python
__pycache__/
*.pyc

# Large files
*.hdf5
*.pkl

# Temporary
*.log
